[submodule "src/EGA"]
	path = src/EGA
	url = https://github.com/katahiromz/EGA.git
[submodule "EGA"]
	path = EGA
	url = https://github.com/katahiromz/EGA.git
[submodule "LineNumEdit"]
	path = LineNumEdit
	url = https://github.com/katahiromz/LineNumEdit
