a.txt
a.exe
*.o
*.obj
RisohEditor.exe
*.res
*.tds
Debug
Release
x64
build
CMakeFiles
cmake_install.cmake
CMakeCache.txt
Makefile
*.sln
*.vcproj
*.vcxproj
*.user
*.ncb
*.suo
*.dir
*.tr2
*.td2
*.ncb
TMP1.$$$
*.filters
*.sdf
*.opensdf
.vs
ipch
risoheditor-*-setup.exe
*~
*.aps
*-old
Win32
risoheditor-*.exe
