// ResTest_res.rc
//////////////////////////////////////////////////////////////////////////////

#include <windows.h>
#include <commctrl.h>
#include <dlgs.h>
#include "resource.h"

//////////////////////////////////////////////////////////////////////////////

1 ICON "smily.ico"
2 ICON "dummy.ico"

2 BITMAP "dummy.bmp"

2 EMF "emf.emf"
2 ENHMETAFILE "emf.emf"
2 ENHMETAPICT "emf.emf"

//////////////////////////////////////////////////////////////////////////////
// Dialogs

1 DIALOG 0, 0, 215, 135
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Sample Dialog"
FONT 9, "MS Shell Dlg"
{
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 115, 60, 14
    CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 115, 60, 14
}

2 DIALOG 0, 0, 100, 50
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Test Dialog"
FONT 9, "MS Shell Dlg"
{
    // with text
    AUTO3STATE "", 1000, 0, 0, 5, 5
    AUTOCHECKBOX "", 1001, 5, 0, 5, 5
    AUTORADIOBUTTON "", 1002, 10, 0, 5, 5
    CHECKBOX "", 1003, 15, 0, 5, 5
    //COMBOBOX "", 1004, 20, 0, 5, 5  // syntax error
    CTEXT "", 1005, 25, 0, 5, 5
    DEFPUSHBUTTON "", 1006, 30, 0, 5, 5
    //EDITTEXT "", 1007, 35, 0, 5, 5  // syntax error
    GROUPBOX "", 1008, 40, 0, 5, 5
    ICON "", 1009, 45, 0, 5, 5
    //LISTBOX "", 1010, 50, 0, 5, 5   // syntax error
    LTEXT "", 1011, 55, 0, 5, 5
    PUSHBOX "", 1012, 60, 0, 5, 5
    PUSHBUTTON "", 1013, 65, 0, 5, 5
    RADIOBUTTON "", 1014, 70, 0, 5, 5
    RTEXT "", 1015, 75, 0, 5, 5
    //SCROLLBAR "", 1016, 80, 0, 5, 5 // syntax error
    STATE3 "", 1017, 85, 0, 5, 5
    CONTROL "", 1018, "SysListView32", WS_TABSTOP, 90, 0, 5, 5
    
    // without text
    //AUTO3STATE 2000, 0, 5, 5, 5       // expected numerical dialog constant
    //AUTOCHECKBOX 2001, 5, 5, 5, 5 // expected numerical dialog constant
    //AUTORADIOBUTTON 2002, 10, 5, 5, 5 // expected numerical dialog constant
    //CHECKBOX 2003, 15, 5, 5, 5    // expected numerical dialog constant
    COMBOBOX 2004, 20, 5, 5, 5
    //CTEXT 2005, 25, 5, 5, 5       // expected numerical dialog constant
    //DEFPUSHBUTTON 2006, 30, 5, 5, 5   // expected numerical dialog constant
    EDITTEXT 2007, 35, 5, 5, 5
    //GROUPBOX 2008, 40, 5, 5, 5        // expected numerical dialog constant
    //ICON "", 2009, 45, 5, 5, 5     // syntax error
    LISTBOX 2010, 50, 5, 5, 5
    //LTEXT 2011, 55, 5, 5, 5       // expected numerical dialog constant
    //PUSHBOX 2012, 60, 5, 5, 5     // expected numerical dialog constant
    //PUSHBUTTON 2013, 65, 5, 5, 5  // expected numerical dialog constant
    //RADIOBUTTON 2014, 70, 5, 5, 5 // expected numerical dialog constant
    //RTEXT 2015, 75, 5, 5, 5           // expected numerical dialog constants
    SCROLLBAR 2016, 80, 5, 5, 5
    //STATE3 2017, 85, 5, 5, 5      // expected numerical dialog constants
    //CONTROL 2018, "SysListView32", WS_TABSTOP, 90, 5, 5, 5    // expected numerical dialog constant

    PUSHBUTTON "Just Do It!", CMDID_JUSTDOIT, 5, 25, 50, 14
}

3 DIALOG 0, 0, 100, 50
CAPTION "Test Dialog"
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 9, "MS Shell Dlg"
{
    CONTROL "", 1000, "BUTTON", BS_AUTO3STATE | WS_TABSTOP, 0, 0, 5, 5
    CONTROL "", 1001, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 5, 0, 5, 5
    CONTROL "", 1002, "BUTTON", BS_AUTORADIOBUTTON, 10, 0, 5, 5
    CONTROL "", 1003, "BUTTON", BS_CHECKBOX | WS_TABSTOP, 15, 0, 5, 5
    CONTROL "", 1005, "STATIC", SS_CENTER | WS_GROUP, 25, 0, 5, 5
    CONTROL "", 1006, "BUTTON", BS_DEFPUSHBUTTON | WS_TABSTOP, 30, 0, 5, 5
    CONTROL "", 1008, "BUTTON", BS_GROUPBOX, 40, 0, 5, 5
    CONTROL "", 1009, "STATIC", SS_ICON, 45, 0, 5, 5
    CONTROL "", 1011, "STATIC", WS_GROUP, 55, 0, 5, 5
    CONTROL "", 1012, "BUTTON", BS_PUSHBOX | WS_TABSTOP, 60, 0, 5, 5
    CONTROL "", 1013, "BUTTON", WS_TABSTOP, 65, 0, 5, 5
    CONTROL "", 1014, "BUTTON", BS_RADIOBUTTON, 70, 0, 5, 5
    CONTROL "", 1015, "STATIC", SS_RIGHT | WS_GROUP, 75, 0, 5, 5
    CONTROL "", 1017, "BUTTON", BS_3STATE | WS_TABSTOP, 85, 0, 5, 5
    CONTROL "", 1018, "SysListView32", WS_TABSTOP, 90, 0, 5, 5
    CONTROL "", 2004, "COMBOBOX", 0, 20, 5, 5, 5
    CONTROL "", 2007, "EDIT", WS_BORDER | WS_TABSTOP, 35, 5, 5, 5
    CONTROL "", 2010, "LISTBOX", LBS_NOTIFY | WS_BORDER, 50, 5, 5, 5
    CONTROL "", 2016, "SCROLLBAR", 0, 80, 5, 5, 5

    PUSHBUTTON "Just Do It!", CMDID_JUSTDOIT, 5, 25, 50, 14
}

4 DIALOG 0, 0, 280, 205
CAPTION "Sample Dialog"
STYLE DS_MODALFRAME | WS_POPUPWINDOW | WS_DLGFRAME
FONT 9, "MS Shell Dlg"
{
    // 1
    ICON 2, ico1, 15, 10, 20, 20
    ICON 2, ico2, 65, 10, 20, 20, SS_REALSIZECONTROL
    ICON 2, ico3, 115, 10, 20, 20, SS_REALSIZEIMAGE
    CONTROL 0, ico4, "STATIC", SS_BLACKRECT, 165, 10, 20, 20
    // 2
    CONTROL 2, stc1, "STATIC", SS_BITMAP, 15, 90, 20, 20
    CONTROL 2, stc2, "STATIC", SS_REALSIZECONTROL | SS_BITMAP, 65, 90, 20, 20
    CONTROL 2, stc3, "STATIC", SS_REALSIZEIMAGE | SS_BITMAP, 115, 90, 20, 20
    CONTROL 0, stc4, "STATIC", SS_BLACKRECT, 165, 90, 20, 20
    // 3
    CONTROL 2, psh1, "BUTTON", BS_PUSHBUTTON | BS_BITMAP, 10, 150, 40, 20
    CONTROL 2, psh2, "BUTTON", BS_PUSHBUTTON | BS_ICON, 115, 150, 40, 20
    CONTROL 2, stc5, "STATIC", SS_ENHMETAFILE, 210, 90, 32, 32
    // 4
    DEFPUSHBUTTON "OK", IDOK, 35, 185, 60, 14
    PUSHBUTTON "Cancel", IDCANCEL, 115, 185, 60, 14
    PUSHBUTTON "&Do It!", CMDID_JUSTDOIT, 193, 185, 60, 14
}

//////////////////////////////////////////////////////////////////////////////
// Accelerators

1 ACCELERATORS
{
    "N", 1, VIRTKEY, CONTROL
    "O", 2, VIRTKEY, CONTROL
}

//////////////////////////////////////////////////////////////////////////////
// String Table

STRINGTABLE
{
    1, "This is a sample text."
}

//////////////////////////////////////////////////////////////////////////////
// Menu

1 MENU
{
    POPUP "&File"
    {
        MENUITEM "E&xit", 1
    }
}

//////////////////////////////////////////////////////////////////////////////
// HTML

#ifndef HTML
    #define HTML        23
#endif
1 HTML "html.html"

//////////////////////////////////////////////////////////////////////////////
// Manifest

#ifndef MANIFEST
    #define MANIFEST    24
#endif

//////////////////////////////////////////////////////////////////////////////
// Version Info

VS_VERSION_INFO VERSIONINFO
FILEVERSION     0, 0, 0, 0
PRODUCTVERSION  0, 0, 0, 0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
{
    // English (U.S.)
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        {
            VALUE "CompanyName", "Your Company\0"
            VALUE "FileDescription", "Your Application\0"
            VALUE "FileVersion", "0.0\0"
            VALUE "LegalCopyright", "Copyright (C) 2017 Katayama Hirofumi MZ. All rights reserved.\0"
            VALUE "ProductName", "Your Product\0"
            VALUE "ProductVersion", "0.0\0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 0x04E4
    }
}

//////////////////////////////////////////////////////////////////////////////
