// RisohEditor_res.rc --- RisohEditor resources
//////////////////////////////////////////////////////////////////////////////
// RisohEditor --- Another free Win32 resource editor
// Copyright (C) 2017-2018 Katayama Hirofumi MZ <katayama.hirofumi.mz@gmail.com>
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
//////////////////////////////////////////////////////////////////////////////

#include "resource.h"

#define APSTUDIO_HIDDEN_SYMBOLS
#include <windows.h>
#undef APSTUDIO_HIDDEN_SYMBOLS

#if !defined(LANGUAGE_EN_US) && !defined(LANGUAGE_ZH_CN) && !defined(LANGUAGE_JA_JP)
    #error You should specify languages. You lose.
#endif

// UTF-8
#pragma code_page(65001)

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

//////////////////////////////////////////////////////////////////////////////

IDI_MAIN            ICON "res/RisohEditor.ico"
IDI_ICO             ICON "res/ico.ico"
IDI_SMILY           ICON "res/smily.ico"
IDI_FIND            ICON "res/find.ico"

IDI_FILE            ICON "res/file.ico"
IDI_FOLDER          ICON "res/folder.ico"
IDI_PLAY            ICON "res/play.ico"

IDC_CURSORNS        CURSOR "res/cursor-ns.cur"
IDC_CURSORWE        CURSOR "res/cursor-we.cur"
IDR_BOUNCEANICUR    ANICURSOR "res/bounce.ani"

IDB_BMP             BITMAP "res/bmp.bmp"
IDB_CONTROLS        BITMAP "res/controls.bmp"

IDR_MAINFRAME       WAVE "res/wa.wav"
IDR_MAINFRAME       GIF "res/anime.gif"
IDR_MAINFRAME       PNG "res/RisohEditor.png"
IDR_MAINFRAME       AVI "res/trash.avi"
IDR_MAINFRAME       EMF "res/emf.emf"
IDR_MAINFRAME       RCDATA "res/RCDATA.bin"

//////////////////////////////////////////////////////////////////////////////

IDR_MAINACCEL ACCELERATORS
{
    "N",            ID_NEW, VIRTKEY, CONTROL
    "O",            ID_OPEN, VIRTKEY, CONTROL
    "S",            ID_SAVEAS, VIRTKEY, CONTROL
    "I",            ID_IMPORT, VIRTKEY, CONTROL
    "E",            ID_CANCELEDIT, VIRTKEY, CONTROL
    "G",            ID_GUIEDIT, VIRTKEY, CONTROL
    "T",            ID_TEXTEDIT, VIRTKEY, CONTROL
    VK_F8,          ID_COMPILE, VIRTKEY
    "R",            ID_LOADRESH, VIRTKEY, CONTROL
    "F",            ID_FIND, VIRTKEY, CONTROL
    VK_F3,          ID_FINDDOWNWARD, VIRTKEY
    VK_F3,          ID_FINDUPWARD, VIRTKEY, SHIFT
    "H",            ID_REPLACE, VIRTKEY, CONTROL
    "M",            ID_ITEMSEARCH, VIRTKEY, CONTROL
    "L",            ID_DEBUGTREENODE, VIRTKEY, CONTROL, SHIFT
}

IDR_UNKNOWNRESID    999 "res/999.bin"

//////////////////////////////////////////////////////////////////////////////

// TODO: Update the version numbers
VS_VERSION_INFO VERSIONINFO
FILEVERSION     4, 0, 0, 0
PRODUCTVERSION  4, 0, 0, 0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
{
#ifdef LANGUAGE_EN_US
    // English (U.S.)
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        {
            VALUE "CompanyName", "Katayama Hirofumi MZ\0"
            VALUE "FileDescription", "RisohEditor\0"
            VALUE "FileVersion", "4.0\0"
            VALUE "LegalCopyright", "Copyright (C) 2017-2018 Katayama Hirofumi MZ. All rights reserved.\0"
            VALUE "ProductName", "RisohEditor\0"
            VALUE "ProductVersion", "4.0\0"
        }
    }
#endif
#ifdef LANGUAGE_ZH_CN
    // Chinese (P.R.C.)
    BLOCK "StringFileInfo"
    {
        BLOCK "080404B0"
        {
            VALUE "CompanyName", "片山博文MZ\0"
            VALUE "FileDescription", "RisohEditor\0"
            VALUE "FileVersion", "4.0\0"
            VALUE "LegalCopyright", "Copyright (C) 2017-2018 片山博文MZ and 林鸿湘. 版权所有.\0"
            VALUE "ProductName", "RisohEditor\0"
            VALUE "ProductVersion", "4.0\0"
        }
    }
#endif
#ifdef LANGUAGE_JA_JP
    // Japanese
    BLOCK "StringFileInfo"
    {
        BLOCK "041103A4"
        {
            VALUE "CompanyName", "片山博文MZ\0"
            VALUE "FileDescription", "リソーエディタ\0"
            VALUE "FileVersion", "4.0\0"
            VALUE "LegalCopyright", "Copyright (C) 2017-2018 片山博文MZ. All rights reserved.\0"
            VALUE "ProductName", "RisohEditor\0"
            VALUE "ProductVersion", "4.0\0"
        }
    }
#endif
    BLOCK "VarFileInfo"
    {
#ifdef LANGUAGE_EN_US
        // English (U.S.)
        VALUE "Translation", 0x0409, 0x04E4
#elif defined(LANGUAGE_ZH_CN)
        // Chinese (C.N.)
        VALUE "Translation", 0x0804, 0x04B0
#elif defined(LANGUAGE_JA_JP)
        // Japanese
        VALUE "Translation", 0x0411, 0x03A4
#endif
    }
}

StringID DIALOG 0, 0, 205, 90
CAPTION "StringID"
STYLE DS_MODALFRAME | WS_POPUPWINDOW | WS_DLGFRAME
FONT 9, "MS Shell Dlg"
{
    DEFPUSHBUTTON "OK", IDOK, 75, 70, 60, 14
    PUSHBUTTON "Cancel", IDCANCEL, 140, 70, 60, 14
}

//////////////////////////////////////////////////////////////////////////////

#ifdef LANGUAGE_EN_US
    #include "lang/en-US.rc"
#endif
#ifdef LANGUAGE_ZH_CN
    #include "lang/zh-CN.rc"
#endif
#ifdef LANGUAGE_JA_JP
    #include "lang/ja-JP.rc"
#endif

//////////////////////////////////////////////////////////////////////////////

#ifdef APSTUDIO_INVOKED
1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "#define APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "#include ""windows.h""\r\n"
    "#undef APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END
#endif    // APSTUDIO_INVOKED

//////////////////////////////////////////////////////////////////////////////
