// UTF-8
#pragma code_page(65001)

// English (U.S.)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

1 MENU
{
    POPUP "&File"
    {
        MENUITEM "&New\tCtrl+N", ID_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Open...\tCtrl+O", ID_OPEN
        MENUITEM "Save &As...\tCtrl+S", ID_SAVEAS
        MENUITEM SEPARATOR
        MENUITEM "&Import...\tCtrl+I", ID_IMPORT
        MENUITEM SEPARATOR
        MENUITEM "E&xit\tAlt+F4", ID_EXIT
    }
    POPUP "&Edit"
    {
        MENUITEM "Text Edit...\tEnter", ID_EDIT
        MENUITEM "GUI Edit...\tCtrl+G", ID_GUIEDIT
        MENUITEM SEPARATOR
        MENUITEM "Add Icon...", ID_ADDICON
        MENUITEM "Add Cursor...", ID_ADDCURSOR
        MENUITEM "Add Bitmap...", ID_ADDBITMAP
        MENUITEM "Add Resource...", ID_ADDRES
        MENUITEM SEPARATOR
        MENUITEM "Replace Icon...", ID_REPLACEICON
        MENUITEM "Replace Cursor...", ID_REPLACECURSOR
        MENUITEM "Replace Bitmap...", ID_REPLACEBITMAP
        MENUITEM "Replace Binary Resource...", ID_REPLACEBIN
        MENUITEM SEPARATOR
        MENUITEM "Extract Icon...", ID_EXTRACTICON
        MENUITEM "Extract Cursor...", ID_EXTRACTCURSOR
        MENUITEM "Extract Bitmap...", ID_EXTRACTBITMAP
        MENUITEM "Extract Binary Resource...", ID_EXTRACTBIN
        MENUITEM SEPARATOR
        MENUITEM "Do &Test", ID_TEST
        MENUITEM SEPARATOR
        MENUITEM "&Delete Resource\tDel", ID_DELETERES
    }
    POPUP "&Help"
    {
        MENUITEM "&About...", ID_ABOUT
    }
}

2 MENU
{
    POPUP "Popup"
    {
        MENUITEM "Text Edit...\tEnter", ID_EDIT
        MENUITEM "GUI Edit...\tCtrl+G", ID_GUIEDIT
        MENUITEM SEPARATOR
        MENUITEM "Add Icon...", ID_ADDICON
        MENUITEM "Add Cursor...", ID_ADDCURSOR
        MENUITEM "Add Bitmap...", ID_ADDBITMAP
        MENUITEM "Add Resource...", ID_ADDRES
        MENUITEM SEPARATOR
        MENUITEM "Replace Icon...", ID_REPLACEICON
        MENUITEM "Replace Cursor...", ID_REPLACECURSOR
        MENUITEM "Replace Bitmap...", ID_REPLACEBITMAP
        MENUITEM "Replace Binary Resource...", ID_REPLACEBIN
        MENUITEM SEPARATOR
        MENUITEM "Extract Icon...", ID_EXTRACTICON
        MENUITEM "Extract Cursor...", ID_EXTRACTCURSOR
        MENUITEM "Extract Bitmap...", ID_EXTRACTBITMAP
        MENUITEM "Extract Binary Resource...", ID_EXTRACTBIN
        MENUITEM SEPARATOR
        MENUITEM "Do &Test", ID_TEST
        MENUITEM SEPARATOR
        MENUITEM "&Delete Resource\tDel", ID_DELETERES
    }
}

STRINGTABLE
{
    IDS_TITLE, "RisohEditor by Katayama Hirofumi MZ"
    IDS_TITLEWITHFILE, "%s - RisohEditor by Katayama Hirofumi MZ"
    IDS_EXTRACTRES, "Extract Resource"
    IDS_RESBINFILTER, "Binary Resources (*.res)|*.res|Binary Files (*.bin)|*.bin|All Files (*.*)|*.*|"
    IDS_CANNOTSAVE, "Unable to save."
    IDS_REPLACERES, "Replace Resource"
    IDS_ALLFILES, "All Files (*.*)|*.*|"
    IDS_ENTERTYPE, "Please enter the resource type."
    IDS_ENTERNAME, "Please enter the resource name."
    IDS_ENTERLANG, "Please enter the resource language."
    IDS_FILENOTFOUND, "File cannot found."
    IDS_CANNOTREPLACE, "Unable to replace."
    IDS_EXEFILTER, "Executables (*.exe;*.dll;*.ocx;*.cpl;*.scr;*.mui)|*.exe;*.dll;*.ocx;*.cpl;*.scr;*.mui|Binary Resources (*.res)|*.res|All Files (*.*)|*.*|"
    IDS_SAVEAS, "Save As"
    IDS_CANNOTADDICON, "Unable to add the icon."
    IDS_ADDICON, "Add Icon"
    IDS_ICOFILTER, "Icon Files (*.ico)|*.ico|All Files (*.*)|*.*|"
    IDS_REPLACEICO, "Replace Icon"
    IDS_CANTREPLACEICO, "Unable to replace icon."
    IDS_EXISTSOVERWRITE, "The item already exists. Overwrite?"
    IDS_OPEN, "Open"
    IDS_CANNOTOPEN, "Unable to open the file."
    IDS_ADDBMP, "Add Bitmap"
    IDS_BMPFILTER, "Bitmap Files (*.bmp)|*.bmp|PNG Images (*.png)|*.png|All Files (*.*)|*.*|"
    IDS_CANTREPLACEBMP, "Unable to replace bitmap."
    IDS_REPLACEBMP, "Replace Bitmap"
    IDS_ERRORCODE, "Error Code %d"
    IDS_VERSIONINFO, "RisohEditor Version 0.0"
    IDS_ADDRES, "Add Resource"
    IDS_CANNOTADDRES, "Unable to add the resource."
    IDS_CANTADDBMP, "Unable to add the bitmap."
    IDS_EXTRACTBMP, "Extract Bitmaps"
    IDS_CANTEXTRACTBMP, "Unable to extract the bitmap."
    IDS_CANTREPLACECUR, "Unable to replace the cursor."
    IDS_CANNOTADDCUR, "Unable to add the cursor."
    IDS_CURFILTER, "Cursor Files (*.cur)|*.cur|All Files (*.*)|*.*|"
    IDS_ADDCUR, "Add Cursor"
    IDS_REPLACECUR, "Replace Cursor"
    IDS_EXTRACTICO, "Extract Icon"
    IDS_CANTEXTRACTICO, "Unable to extract the icon."
    IDS_EXTRACTCUR, "Extract Cursor"
    IDS_CANTEXTRACTCUR, "Unable to extract the cursor."
    IDS_RESFILTER, "Binary Resources (*.res)|*.res|All Files (*.*)|*.*|"
    IDS_NEUTRAL, "Neutral"
    IDS_IMPORTRES, "Import Resource"
    IDS_CANNOTIMPORT, "Unable to import the resource."
    IDS_COMPILE, "Compile (F8)"
    IDS_CANCELEDIT, "Cancel Edit (Ctrl+E)"
    IDS_CANNOTSTARTUP, "Unable to start up the resource compiler."
    IDS_RESMISMATCH, "Resource was mismatched."
    IDS_SAMPLETEXT, "This is a sample."
    IDS_GUIEDIT, "GUI Edit (Ctrl+G)"
    IDS_ALREADYEXISTS, "Already exists."
    IDS_KEY, "Key"
    IDS_FLAGS, "Flags"
    IDS_COMMANDID, "Command ID"
    IDS_INVALIDKEY, "Invalid key."
    IDS_COMPILEERROR, "Failed to compile."
    IDS_STRINGID, "String ID"
    IDS_STRINGVALUE, "String Value"
    IDS_CAPTION, "Caption"
    IDS_HELPID, "Help ID"
    IDS_INDENT, "-> "
    IDS_DATAISEMPTY, "Data is empty."
    IDS_TEST, "Test"
}

IDD_REPLACERES DIALOG 0, 0, 215, 170
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Replace Resource"
FONT 9, "MS Shell Dlg"
{
    CONTROL "Resource &Type:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 7, 70, 12
    CONTROL "", cmb1, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 75, 5, 135, 200
    CONTROL "Resource &Name:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 32, 70, 12
    CONTROL "", cmb2, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 75, 30, 135, 200
    CONTROL "Resource &Language:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 57, 70, 12
    CONTROL "", cmb3, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 75, 55, 135, 200
    CONTROL "Binary &File:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 85, 100, 12
    CONTROL "", edt1, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 5, 97, 205, 14
    CONTROL "&Browse...", psh1, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 115, 60, 14
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 150, 60, 14
    CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 150, 60, 14
}

IDD_ADDICON DIALOG 0, 0, 215, 135
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Add Icon"
FONT 9, "MS Shell Dlg"
{
    CONTROL "&Icon File:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 7, 100, 12
    CONTROL "", edt1, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 5, 18, 205, 14
    CONTROL "&Browse...", psh1, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 35, 60, 14
    CONTROL "", ico1, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 35, 20, 20
    CONTROL "Resource &Name:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 67, 70, 12
    CONTROL "", cmb2, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 75, 65, 135, 200
    CONTROL "Resource &Language:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 92, 70, 12
    CONTROL "", cmb3, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 75, 90, 135, 200
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 115, 60, 14
    CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 115, 60, 14
}

IDD_REPLACEICON DIALOG 0, 0, 215, 135
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Replace Icon"
FONT 9, "MS Shell Dlg"
{
    CONTROL "&Icon File:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 7, 100, 12
    CONTROL "", edt1, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 5, 18, 205, 14
    CONTROL "&Browse...", psh1, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 35, 60, 14
    CONTROL "", ico1, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 35, 20, 20
    CONTROL "Resource &Name:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 67, 70, 12
    CONTROL "", cmb2, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 75, 65, 135, 13
    CONTROL "Resource &Language:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 92, 70, 12
    CONTROL "", cmb3, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 75, 90, 135, 13
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 115, 60, 14
    CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 115, 60, 14
}

IDD_ADDBITMAP DIALOG 0, 0, 215, 135
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Add Bitmap"
FONT 9, "MS Shell Dlg"
{
    CONTROL "&Bitmap File:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 7, 100, 12
    CONTROL "", edt1, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 5, 18, 205, 14
    CONTROL "&Browse...", psh1, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 35, 60, 14
    CONTROL "Resource &Name:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 67, 70, 12
    CONTROL "", cmb2, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 75, 65, 135, 200
    CONTROL "Resource &Language:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 92, 70, 12
    CONTROL "", cmb3, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 75, 90, 135, 200
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 115, 60, 14
    CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 115, 60, 14
}

IDD_REPLACEBMP DIALOG 0, 0, 215, 135
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Replace Bitmap"
FONT 9, "MS Shell Dlg"
{
    CONTROL "&Bitmap File:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 7, 100, 12
    CONTROL "", edt1, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 5, 18, 205, 14
    CONTROL "&Browse...", psh1, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 35, 60, 14
    CONTROL "Resource &Name:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 67, 70, 12
    CONTROL "", cmb2, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 75, 65, 135, 200
    CONTROL "Resource &Language:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 92, 70, 12
    CONTROL "", cmb3, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 75, 90, 135, 200
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 115, 60, 14
    CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 115, 60, 14
}

IDD_ADDRES DIALOG 0, 0, 215, 170
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Add Resource"
FONT 9, "MS Shell Dlg"
{
    CONTROL "Resource &Type:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 7, 70, 12
    CONTROL "", cmb1, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 75, 5, 135, 200
    CONTROL "Resource &Name:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 32, 70, 12
    CONTROL "", cmb2, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 75, 30, 135, 200
    CONTROL "Resource &Language:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 57, 70, 12
    CONTROL "", cmb3, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 75, 55, 135, 200
    CONTROL "Binary &File:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 85, 100, 12
    CONTROL "", edt1, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 5, 97, 205, 14
    CONTROL "&Browse...", psh1, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 115, 60, 14
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 150, 60, 14
    CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 150, 60, 14
}

IDD_ADDCURSOR DIALOG 0, 0, 215, 135
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Add Cursor"
FONT 9, "MS Shell Dlg"
{
    CONTROL "&Cursor File:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 7, 100, 12
    CONTROL "", edt1, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 5, 18, 205, 14
    CONTROL "&Browse...", psh1, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 35, 60, 14
    CONTROL "", ico1, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 35, 20, 20
    CONTROL "Resource &Name:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 67, 70, 12
    CONTROL "", cmb2, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 75, 65, 135, 200
    CONTROL "Resource &Language:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 92, 70, 12
    CONTROL "", cmb3, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 75, 90, 135, 200
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 115, 60, 14
    CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 115, 60, 14
}

IDD_REPLACECUR DIALOG 0, 0, 215, 135
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Replace Cursor"
FONT 9, "MS Shell Dlg"
{
    CONTROL "&Cursor File:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 7, 100, 12
    CONTROL "", edt1, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 5, 18, 205, 14
    CONTROL "&Browse...", psh1, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 35, 60, 14
    CONTROL "", ico1, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 35, 20, 20
    CONTROL "Resource &Name:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 67, 70, 12
    CONTROL "", cmb2, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 75, 65, 135, 200
    CONTROL "Resource &Language:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 92, 70, 12
    CONTROL "", cmb3, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 75, 90, 135, 200
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 115, 60, 14
    CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 115, 60, 14
}

IDD_MENUTEST DIALOG 0, 0, 215, 135
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Menu Test"
FONT 9, "MS Shell Dlg"
{
}

IDD_ADDKEY DIALOG 0, 0, 190, 120
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Add Key"
FONT 9, "MS Shell Dlg"
{
    CONTROL "&Key:", -1, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 12, 60, 14
    CONTROL "", cmb1, "COMBOBOX", CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 70, 10, 110, 200
    CONTROL "Command &ID:", -1, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 37, 60, 14
    CONTROL "", cmb2, "COMBOBOX", CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 70, 35, 110, 200
    CONTROL "&VIRTKEY", chx1, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 60, 60, 14
    CONTROL "&NOINVERT", chx2, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 70, 60, 60, 14
    CONTROL "&CONTROL", chx3, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 75, 60, 14
    CONTROL "&SHIFT", chx4, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 70, 75, 60, 14
    CONTROL "&ALT", chx5, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 75, 45, 14
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 100, 60, 14
    CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 125, 100, 60, 14
}

IDD_MODIFYKEY DIALOG 0, 0, 190, 120
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Modify Key"
FONT 9, "MS Shell Dlg"
{
    CONTROL "&Key:", -1, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 12, 60, 14
    CONTROL "", cmb1, "COMBOBOX", CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 70, 10, 110, 200
    CONTROL "Command &ID:", -1, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 37, 60, 14
    CONTROL "", cmb2, "COMBOBOX", CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 70, 35, 110, 200
    CONTROL "&VIRTKEY", chx1, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 60, 60, 14
    CONTROL "&NOINVERT", chx2, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 70, 60, 60, 14
    CONTROL "&CONTROL", chx3, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 75, 60, 14
    CONTROL "&SHIFT", chx4, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 70, 75, 60, 14
    CONTROL "&ALT", chx5, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 75, 45, 14
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 100, 60, 14
    CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 125, 100, 60, 14
}

IDD_EDITACCEL DIALOG 0, 0, 245, 166
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Edit Accelerators"
FONT 9, "MS Shell Dlg"
{
    CONTROL "Key &List:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 7, 100, 12
    CONTROL "", ctl1, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_AUTOARRANGE | LVS_NOLABELWRAP | LVS_NOSORTHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP, 5, 20, 170, 115
    CONTROL "&Add...", psh1, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 20, 60, 14
    CONTROL "&Modify...", psh2, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 40, 60, 14
    CONTROL "&Delete", psh3, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 60, 60, 14
    CONTROL "&Up", psh4, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 100, 60, 14
    CONTROL "D&own", psh5, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 120, 60, 14
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 145, 60, 14
    CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 130, 145, 60, 14
}

IDD_ADDSTR DIALOG 0, 0, 255, 65
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Add String Entry"
FONT 9, "MS Shell Dlg"
{
    CONTROL "String &ID:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 7, 50, 12
    CONTROL "", cmb1, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 60, 5, 134, 200
    CONTROL "String &Value:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 27, 54, 12
    CONTROL "", edt1, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 25, 190, 14
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 125, 45, 60, 14
    CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 190, 45, 60, 14
}

IDD_MODIFYSTR DIALOG 0, 0, 255, 65
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Modify String Entry"
FONT 9, "MS Shell Dlg"
{
    CONTROL "String &ID:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 7, 50, 12
    CONTROL "", cmb1, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 60, 5, 134, 200
    CONTROL "String &Value:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 27, 54, 12
    CONTROL "", edt1, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 25, 190, 14
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 125, 45, 60, 14
    CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 190, 45, 60, 14
}

IDD_STRINGS DIALOG 0, 0, 325, 160
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "String Table"
FONT 9, "MS Shell Dlg"
{
    CONTROL "String &Entries:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 7, 74, 12
    CONTROL "", ctl1, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOLABELWRAP | LVS_AUTOARRANGE | LVS_NOSORTHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP, 5, 20, 315, 115
    CONTROL "&Add...", psh1, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 130, 3, 60, 14
    CONTROL "&Modify...", psh2, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 195, 3, 60, 14
    CONTROL "&Delete", psh3, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 260, 3, 60, 14
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 195, 140, 60, 14
    CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 260, 140, 60, 14
}

IDD_ADDMITEM DIALOG 0, 0, 210, 200
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Add Menu Item"
FONT 9, "MS Shell Dlg"
{
    CONTROL "C&aption:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 7, 55, 12
    CONTROL "", cmb1, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 65, 6, 140, 200
    CONTROL "Co&mmand ID:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 32, 55, 12
    CONTROL "", cmb2, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 65, 30, 140, 200
    CONTROL "&GRAYED", chx1, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 60, 60, 14
    CONTROL "&BITMAP", chx3, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 135, 60, 60, 14
    CONTROL "&OWNERDRAW", chx4, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 80, 60, 14
    CONTROL "&CHECKED", chx5, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 70, 80, 60, 14
    CONTROL "SE&PARATOR", chx6, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 135, 80, 60, 14
    CONTROL "MENU&BARBREAK", chx7, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 100, 75, 14
    CONTROL "MENUB&REAK", chx8, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 85, 100, 70, 14
    CONTROL "&DEFAULT", chx9, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 120, 60, 14
    CONTROL "&HILITE", chx10, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 70, 120, 60, 14
    CONTROL "RADIOCHEC&K", chx11, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 135, 120, 60, 14
    CONTROL "RIGH&TORDER", chx12, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 139, 60, 14
    CONTROL "RIGHT&JUSTIFY", chx13, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 70, 140, 70, 14
    CONTROL "He&lp ID:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 162, 45, 12
    CONTROL "", edt1, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 55, 160, 60, 14
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 180, 60, 14
    CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 145, 180, 60, 14
}

IDD_MODIFYMITEM DIALOG 0, 0, 210, 200
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Modify Menu Item"
FONT 9, "MS Shell Dlg"
{
    CONTROL "C&aption:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 7, 55, 12
    CONTROL "", cmb1, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 65, 6, 140, 200
    CONTROL "Co&mmand ID:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 32, 55, 12
    CONTROL "", cmb2, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 65, 30, 140, 200
    CONTROL "&GRAYED", chx1, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 60, 60, 14
    CONTROL "&BITMAP", chx3, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 135, 60, 60, 14
    CONTROL "&OWNERDRAW", chx4, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 80, 60, 14
    CONTROL "&CHECKED", chx5, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 70, 80, 60, 14
    CONTROL "SE&PARATOR", chx6, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 135, 80, 60, 14
    CONTROL "MENU&BARBREAK", chx7, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 100, 75, 14
    CONTROL "MENUB&REAK", chx8, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 85, 100, 70, 14
    CONTROL "&DEFAULT", chx9, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 120, 60, 14
    CONTROL "&HILITE", chx10, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 70, 120, 60, 14
    CONTROL "RADIOCHEC&K", chx11, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 135, 120, 60, 14
    CONTROL "RIGH&TORDER", chx12, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 139, 60, 14
    CONTROL "RIGHT&JUSTIFY", chx13, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 70, 140, 70, 14
    CONTROL "He&lp ID:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 162, 45, 12
    CONTROL "", edt1, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 55, 160, 60, 14
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 180, 60, 14
    CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 145, 180, 60, 14
}

IDD_EDITMENU DIALOG 0, 0, 325, 160
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Edit Menu Resource"
FONT 9, "MS Shell Dlg"
{
    CONTROL "Menu Re&souce:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 7, 85, 12
    CONTROL "", ctl1, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOLABELWRAP | LVS_AUTOARRANGE | LVS_NOSORTHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP, 5, 20, 315, 115
    CONTROL "&Add...", psh1, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 95, 3, 50, 14
    CONTROL "&Modify...", psh2, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 3, 50, 14
    CONTROL "Dele&te", psh3, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 205, 3, 50, 14
    CONTROL "&Up", psh4, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 140, 40, 14
    CONTROL "&Down", psh5, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 50, 140, 40, 14
    CONTROL "&Left", psh6, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 95, 140, 40, 14
    CONTROL "&Right", psh7, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 140, 41, 14
    CONTROL "E&xtended", chx1, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 260, 3, 60, 14
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 195, 140, 60, 14
    CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 260, 140, 60, 14
}
