// UTF-8
#pragma code_page(65001)

// Japanese
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

1 MENU
{
    POPUP "ファイル(&F)"
    {
        MENUITEM "新規作成(&N)\tCtrl+N", ID_NEW
        MENUITEM SEPARATOR
        MENUITEM "開く(&O)...\tCtrl+O", ID_OPEN
        MENUITEM "名前を付けて保存(&A)...\tCtrl+S", ID_SAVEAS
        MENUITEM SEPARATOR
        MENUITEM "インポート(&I)...\tCtrl+I", ID_IMPORT
        MENUITEM SEPARATOR
        MENUITEM "終了(&X)\tAlt+F4", ID_EXIT
    }
    POPUP "編集(&E)"
    {
        MENUITEM "テキスト編集...\tEnter", ID_EDIT
        MENUITEM "GUI編集...\tCtrl+G", ID_GUIEDIT
        MENUITEM SEPARATOR
        MENUITEM "アイコンを追加...", ID_ADDICON
        MENUITEM "カーソルを追加...", ID_ADDCURSOR
        MENUITEM "ビットマップを追加...", ID_ADDBITMAP
        MENUITEM "リソースを追加...", ID_ADDRES
        MENUITEM SEPARATOR
        MENUITEM "アイコンを置き換え...", ID_REPLACEICON
        MENUITEM "カーソルを置き換え...", ID_REPLACECURSOR
        MENUITEM "ビットマップを置き換え...", ID_REPLACEBITMAP
        MENUITEM "バイナリ リソースを置き換え...", ID_REPLACEBIN
        MENUITEM SEPARATOR
        MENUITEM "アイコンを抽出...", ID_EXTRACTICON
        MENUITEM "カーソルを抽出...", ID_EXTRACTCURSOR
        MENUITEM "ビットマップを抽出...", ID_EXTRACTBITMAP
        MENUITEM "バイナリ リソースを抽出...", ID_EXTRACTBIN
        MENUITEM SEPARATOR
        MENUITEM "テストする(&T)", ID_TEST
        MENUITEM SEPARATOR
        MENUITEM "リソースを削除(&D)\tDel", ID_DELETERES
    }
    POPUP "ヘルプ(&H)"
    {
        MENUITEM "バージョン情報(&A)...", ID_ABOUT
    }
}

2 MENU
{
    POPUP "ポップアップ"
    {
        MENUITEM "テキスト編集...\tEnter", ID_EDIT
        MENUITEM "GUI編集...\tCtrl+G", ID_GUIEDIT
        MENUITEM SEPARATOR
        MENUITEM "アイコンを追加...", ID_ADDICON
        MENUITEM "カーソルを追加...", ID_ADDCURSOR
        MENUITEM "ビットマップを追加...", ID_ADDBITMAP
        MENUITEM "リソースを追加...", ID_ADDRES
        MENUITEM SEPARATOR
        MENUITEM "アイコンを置き換え...", ID_REPLACEICON
        MENUITEM "カーソルを置き換え...", ID_REPLACECURSOR
        MENUITEM "ビットマップを置き換え...", ID_REPLACEBITMAP
        MENUITEM "バイナリ リソースを置き換え...", ID_REPLACEBIN
        MENUITEM SEPARATOR
        MENUITEM "アイコンを抽出...", ID_EXTRACTICON
        MENUITEM "カーソルを抽出...", ID_EXTRACTCURSOR
        MENUITEM "ビットマップを抽出...", ID_EXTRACTBITMAP
        MENUITEM "バイナリ リソースを抽出...", ID_EXTRACTBIN
        MENUITEM SEPARATOR
        MENUITEM "テストする(&T)", ID_TEST
        MENUITEM SEPARATOR
        MENUITEM "リソースを削除(&D)\tDel", ID_DELETERES
    }
}

STRINGTABLE
{
    IDS_TITLE, "RisohEditor by 片山博文MZ"
    IDS_TITLEWITHFILE, "%s - RisohEditor by 片山博文MZ"
    IDS_EXTRACTRES, "リソースの抽出"
    IDS_RESBINFILTER, "バイナリ リソース (*.res)|*.res|バイナリ ファイル (*.bin)|*.bin|すべてのファイル (*.*)|*.*|"
    IDS_CANNOTSAVE, "保存できませんでした。"
    IDS_REPLACERES, "リソースの置き換え"
    IDS_ALLFILES, "すべてのファイル (*.*)|*.*|"
    IDS_ENTERTYPE, "リソースの種類を入力して下さい。"
    IDS_ENTERNAME, "リソースの名前を入力して下さい。"
    IDS_ENTERLANG, "リソースの言語を入力して下さい。"
    IDS_FILENOTFOUND, "ファイルが見つかりません。"
    IDS_CANNOTREPLACE, "リソースの置き換えができませんでした。"
    IDS_EXEFILTER, "実行可能ファイル (*.exe;*.dll;*.ocx;*.cpl;*.scr;*.mui)|*.exe;*.dll;*.ocx;*.cpl;*.scr;*.mui|バイナリ リソース (*.res)|*.res|すべてのファイル (*.*)|*.*|"
    IDS_SAVEAS, "名前を付けて保存"
    IDS_CANNOTADDICON, "アイコンの追加ができませんでした。"
    IDS_ADDICON, "アイコンの追加"
    IDS_ICOFILTER, "アイコン ファイル (*.ico)|*.ico|すべてのファイル (*.*)|*.*|"
    IDS_REPLACEICO, "アイコンの置き換え"
    IDS_CANTREPLACEICO, "アイコンの置き換えができませんでした。"
    IDS_EXISTSOVERWRITE, "項目はすでに存在します。上書きしますか？"
    IDS_OPEN, "開く"
    IDS_CANNOTOPEN, "ファイルが開けません。"
    IDS_ADDBMP, "ビットマップの追加"
    IDS_BMPFILTER, "ビットマップ ファイル (*.bmp)|*.bmp|PNG 画像 (*.png)|*.png|すべてのファイル (*.*)|*.*|"
    IDS_CANTREPLACEBMP, "ビットマップの置き換えができませんでした。"
    IDS_REPLACEBMP, "ビットマップの置き換え"
    IDS_ERRORCODE, "エラーコード %dが発生しました。"
    IDS_VERSIONINFO, "RisohEditor Version 0.0"
    IDS_ADDRES, "リソースの追加"
    IDS_CANNOTADDRES, "リソースの追加ができませんでした。"
    IDS_CANTADDBMP, "ビットマップの追加ができませんでした。"
    IDS_EXTRACTBMP, "ビットマップの抽出"
    IDS_CANTEXTRACTBMP, "ビットマップの抽出ができませんでした。"
    IDS_CANTREPLACECUR, "カーソルの置き換えができませんでした。"
    IDS_CANNOTADDCUR, "カーソルの追加ができませんでした。"
    IDS_CURFILTER, "カーソル ファイル (*.cur)|*.cur|すべてのファイル (*.*)|*.*|"
    IDS_ADDCUR, "カーソルの追加"
    IDS_REPLACECUR, "カーソルの置き換え"
    IDS_EXTRACTICO, "アイコンの抽出"
    IDS_CANTEXTRACTICO, "アイコンの抽出ができませんでした。"
    IDS_EXTRACTCUR, "カーソルの抽出"
    IDS_CANTEXTRACTCUR, "カーソルの抽出ができませんでした。"
    IDS_RESFILTER, "バイナリ リソース (*.res)|*.res|すべてのファイル (*.*)|*.*|"
    IDS_NEUTRAL, "ニュートラル"
    IDS_IMPORTRES, "リソースのインポート"
    IDS_CANNOTIMPORT, "インポートできませんでした。"
    IDS_COMPILE, "コンパイル (F8)"
    IDS_CANCELEDIT, "編集をキャンセル (Ctrl+E)"
    IDS_CANNOTSTARTUP, "リソースコンパイラが起動できませんでした。"
    IDS_RESMISMATCH, "リソースが一致しません。"
    IDS_SAMPLETEXT, "これはサンプルです。"
    IDS_GUIEDIT, "GUI編集 (Ctrl+G)"
    IDS_ALREADYEXISTS, "すでに存在します。"
    IDS_KEY, "キー"
    IDS_FLAGS, "フラグ群"
    IDS_COMMANDID, "コマンドID"
    IDS_INVALIDKEY, "無効なキーです。"
}

IDD_REPLACERES DIALOG 0, 0, 215, 170
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "リソースの置き換え"
FONT 9, "MS UI Gothic"
{
    CONTROL "リソースの種類(&T):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 7, 70, 12
    CONTROL "", cmb1, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 75, 5, 135, 200
    CONTROL "リソースの名前(&N):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 32, 70, 12
    CONTROL "", cmb2, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 75, 30, 135, 200
    CONTROL "リソースの言語(&L):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 57, 70, 12
    CONTROL "", cmb3, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 75, 55, 135, 200
    CONTROL "バイナリーファイル(&F):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 85, 100, 12
    CONTROL "", edt1, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 5, 97, 205, 14
    CONTROL "参照(&B)...", psh1, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 115, 60, 14
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 150, 60, 14
    CONTROL "キャンセル", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 150, 60, 14
}

IDD_ADDICON DIALOG 0, 0, 215, 135
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "アイコンの追加"
FONT 9, "MS UI Gothic"
{
    CONTROL "アイコン ファイル(&I):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 7, 100, 12
    CONTROL "", edt1, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 5, 18, 205, 14
    CONTROL "参照(&B)...", psh1, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 35, 60, 14
    CONTROL "", ico1, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 35, 20, 20
    CONTROL "リソースの名前(&N):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 67, 70, 12
    CONTROL "", cmb2, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 75, 65, 135, 200
    CONTROL "リソースの言語(&L):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 92, 70, 12
    CONTROL "", cmb3, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 75, 90, 135, 200
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 115, 60, 14
    CONTROL "キャンセル", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 115, 60, 14
}

IDD_REPLACEICON DIALOG 0, 0, 215, 135
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "アイコンの置き換え"
FONT 9, "MS UI Gothic"
{
    CONTROL "アイコン ファイル(&I):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 7, 100, 12
    CONTROL "", edt1, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 5, 18, 205, 14
    CONTROL "参照(&B)...", psh1, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 35, 60, 14
    CONTROL "", ico1, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 35, 20, 20
    CONTROL "リソースの名前(&N):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 67, 70, 12
    CONTROL "", cmb2, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 75, 65, 135, 200
    CONTROL "リソースの言語(&L):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 92, 70, 12
    CONTROL "", cmb3, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 75, 90, 135, 200
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 115, 60, 14
    CONTROL "キャンセル", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 115, 60, 14
}

IDD_ADDBITMAP DIALOG 0, 0, 215, 135
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ビットマップの追加"
FONT 9, "MS UI Gothic"
{
    CONTROL "ビットマップ ファイル(&B):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 7, 100, 12
    CONTROL "", edt1, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 5, 18, 205, 14
    CONTROL "参照(&B)...", psh1, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 35, 60, 14
    CONTROL "リソースの名前(&N):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 67, 70, 12
    CONTROL "", cmb2, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 75, 65, 135, 200
    CONTROL "リソースの言語(&L):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 92, 70, 12
    CONTROL "", cmb3, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 75, 90, 135, 200
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 115, 60, 14
    CONTROL "キャンセル", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 115, 60, 14
}

IDD_REPLACEBMP DIALOG 0, 0, 215, 135
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ビットマップの置き換え"
FONT 9, "MS UI Gothic"
{
    CONTROL "ビットマップ ファイル(&B):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 7, 100, 12
    CONTROL "", edt1, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 5, 18, 205, 14
    CONTROL "参照(&B)...", psh1, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 35, 60, 14
    CONTROL "リソースの名前(&N):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 67, 70, 12
    CONTROL "", cmb2, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 75, 65, 135, 200
    CONTROL "リソースの言語(&L):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 92, 70, 12
    CONTROL "", cmb3, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 75, 90, 135, 200
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 115, 60, 14
    CONTROL "キャンセル", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 115, 60, 14
}

IDD_ADDRES DIALOG 0, 0, 215, 170
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "リソースの追加"
FONT 9, "MS UI Gothic"
{
    CONTROL "リソースの種類(&T):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 7, 70, 12
    CONTROL "", cmb1, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 75, 5, 135, 200
    CONTROL "リソースの名前(&N):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 32, 70, 12
    CONTROL "", cmb2, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 75, 30, 135, 200
    CONTROL "リソースの言語(&L):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 57, 70, 12
    CONTROL "", cmb3, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 75, 55, 135, 200
    CONTROL "バイナリーファイル(&F):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 85, 100, 12
    CONTROL "", edt1, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 5, 97, 205, 14
    CONTROL "参照(&B)...", psh1, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 115, 60, 14
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 150, 60, 14
    CONTROL "キャンセル", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 150, 60, 14
}

IDD_ADDCURSOR DIALOG 0, 0, 215, 135
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "カーソルの追加"
FONT 9, "MS UI Gothic"
{
    CONTROL "カーソル ファイル(&C):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 7, 100, 12
    CONTROL "", edt1, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 5, 18, 205, 14
    CONTROL "参照(&B)...", psh1, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 35, 60, 14
    CONTROL "", ico1, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 35, 20, 20
    CONTROL "リソースの名前(&N):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 67, 70, 12
    CONTROL "", cmb2, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 75, 65, 135, 200
    CONTROL "リソースの言語(&L):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 92, 70, 12
    CONTROL "", cmb3, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 75, 90, 135, 200
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 115, 60, 14
    CONTROL "キャンセル", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 115, 60, 14
}

IDD_REPLACECUR DIALOG 0, 0, 215, 135
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "カーソルの置き換え"
FONT 9, "MS UI Gothic"
{
    CONTROL "カーソル ファイル(&C):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 7, 100, 12
    CONTROL "", edt1, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 5, 18, 205, 14
    CONTROL "参照(&B)...", psh1, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 35, 60, 14
    CONTROL "", ico1, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 35, 20, 20
    CONTROL "リソースの名前(&N):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 67, 70, 12
    CONTROL "", cmb2, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 75, 65, 135, 200
    CONTROL "リソースの言語(&L):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 92, 70, 12
    CONTROL "", cmb3, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 75, 90, 135, 200
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 115, 60, 14
    CONTROL "キャンセル", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 115, 60, 14
}

IDD_MENUTEST DIALOG 0, 0, 215, 135
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "メニューのテスト"
FONT 9, "MS UI Gothic"
{
}

IDD_ADDKEY DIALOG 0, 0, 190, 120
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "キーの追加"
FONT 9, "MS UI Gothic"
{
    CONTROL "キー(&K):", -1, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 12, 60, 14
    CONTROL "", cmb1, "COMBOBOX", CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 70, 10, 110, 200
    CONTROL "コマンド&ID:", -1, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 37, 60, 14
    CONTROL "", cmb2, "COMBOBOX", CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 70, 35, 110, 200
    CONTROL "&VIRTKEY", chx1, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 60, 60, 14
    CONTROL "&NOINVERT", chx2, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 70, 60, 60, 14
    CONTROL "&CONTROL", chx3, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 75, 60, 14
    CONTROL "&SHIFT", chx4, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 70, 75, 60, 14
    CONTROL "&ALT", chx5, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 75, 45, 14
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 100, 60, 14
    CONTROL "キャンセル", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 125, 100, 60, 14
}

IDD_MODIFYKEY DIALOG 0, 0, 190, 120
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "キーの編集"
FONT 9, "MS UI Gothic"
{
    CONTROL "キー(&K):", -1, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 12, 60, 14
    CONTROL "", cmb1, "COMBOBOX", CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 70, 10, 110, 200
    CONTROL "コマンド&ID:", -1, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 37, 60, 14
    CONTROL "", cmb2, "COMBOBOX", CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 70, 35, 110, 200
    CONTROL "&VIRTKEY", chx1, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 60, 60, 14
    CONTROL "&NOINVERT", chx2, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 70, 60, 60, 14
    CONTROL "&CONTROL", chx3, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 75, 60, 14
    CONTROL "&SHIFT", chx4, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 70, 75, 60, 14
    CONTROL "&ALT", chx5, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 75, 45, 14
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 100, 60, 14
    CONTROL "キャンセル", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 125, 100, 60, 14
}

IDD_EDITACCEL DIALOG 0, 0, 245, 166
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "アクセスキーの編集"
FONT 9, "MS UI Gothic"
{
    CONTROL "キーリスト(&L):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 7, 100, 12
    CONTROL "", ctl1, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_AUTOARRANGE | LVS_NOLABELWRAP | LVS_NOSORTHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP, 5, 20, 170, 115
    CONTROL "追加(&A)...", psh1, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 20, 60, 14
    CONTROL "変更(&M)...", psh2, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 40, 60, 14
    CONTROL "削除(&D)", psh3, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 60, 60, 14
    CONTROL "上へ(&U)", psh4, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 100, 60, 14
    CONTROL "下へ(&O)", psh5, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 120, 60, 14
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 145, 60, 14
    CONTROL "キャンセル", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 130, 145, 60, 14
}

IDD_ADDSTR DIALOG 0, 0, 255, 110
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "文字列エントリーの追加"
FONT 9, "MS UI Gothic"
{
    CONTROL "文字列&ID:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 7, 50, 12
    CONTROL "", cmb1, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 60, 5, 134, 130
    CONTROL "文字列の値(&V):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 27, 54, 12
    CONTROL "", edt1, "EDIT", ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 60, 25, 190, 60
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 125, 90, 60, 14
    CONTROL "キャンセル", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 190, 90, 60, 14
}

IDD_MODIFYSTR DIALOG 0, 0, 255, 110
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "文字列エントリーの変更"
FONT 9, "MS UI Gothic"
{
    CONTROL "文字列&ID:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 7, 50, 12
    CONTROL "", cmb1, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 60, 5, 134, 130
    CONTROL "文字列の値(&V):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 27, 54, 12
    CONTROL "", edt1, "EDIT", ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 60, 25, 190, 60
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 125, 90, 60, 14
    CONTROL "キャンセル", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 190, 90, 60, 14
}

IDD_STRINGS DIALOG 0, 0, 325, 160
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "文字列テーブル"
FONT 9, "MS UI Gothic"
{
    CONTROL "文字列エントリー(&E):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 7, 74, 12
    CONTROL "", ctl1, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOLABELWRAP | LVS_AUTOARRANGE | LVS_NOSORTHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP, 5, 20, 315, 115
    CONTROL "追加(&A)...", psh1, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 130, 3, 60, 14
    CONTROL "変更(&M)...", psh2, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 195, 3, 60, 14
    CONTROL "削除(&D)", psh3, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 260, 3, 60, 14
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 140, 60, 14
    CONTROL "キャンセル", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 245, 140, 60, 14
}
